* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

#logo {
  width: 250px;
  height: 250px;
  justify-content: center;
}

.container {
  background-color: #8a51fc;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-frame {
  width: 350px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
  background-color: #f4f4f4;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

select,
input {
  width: 330px;
  height: 48px;
  border: solid 1px #bbbbbb;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #555555;
  appearance: none;
  padding-left: 18px;
}

button {
  width: 330px;
  height: 48px;
  border-radius: 5px;
  border: none;
  background-color: #772fd3;
  color: #ffffff;
  font-size: 18px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

.container-coin {
  width: 330px;
  height: 280px;
  border: solid 1px #772fd3;
  border-radius: 20px;
  margin: 20px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-img {
  margin: 15px 0;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-box img {
  width: 50px;
}

.currency {
  color: #777777;
  font-size: 14px;
}

.currency-value {
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}
